/* .mylist{
    display: flex;
    flex-direction: row;
} */
.movie-list{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
    scroll-behavior: smooth;
    color: #fff;
}
.movie-list::-webkit-scrollbar{
    display: none;
}
.mylist-title{
    font-size: 14px;
}